.local {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 20vw;
    height: 20vh;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
  }
  
  .remote {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }